<div class = "container">
  <div class = "row">
    <div class = "col-5">
      <h1>Public Profile: <%= @user.nickname %></h1>
      <img src="<%=Faker::Avatar.image(slug: @user.email, size: "400x400", format: "jpg", set: "set5") %>">
    </div>
    <div class = "col-7">
      <div id="friendships">
        <%= render "friendships/friendships" %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<h1>Posts</h1>
<%= render "posts" %>
<br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
      <%= will_paginate @posts %>
  </div>
</div>
