<h1>
  <%= @post.title %>
</h1>
<h2>by <%= @post.user.nickname %></h2>

<p>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="favorites">
  <%= render "favorites" %>
</div>
